* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background:
        url('images/back1.png') center/cover no-repeat,
        #000000;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    line-height: 1.6;
    padding-top: 80px;
    min-height: 100vh;
}

.header {
    display: none;
}

.title {
    font-family: 'Neue Machina', sans-serif;
    font-size: 85px; /* Начните с этого размера */
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    top: 60px;
    left: 495px;
    width: 986px;
    height: 124px;
}

.cards-wrapper {
    position: relative;
    font-family: 'Inter';
}

.card {
    family-font: 'Urbanist';
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    outline: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 100px;
    display: flex;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 350px;
    position: absolute;
    flex-direction: column;
    padding: 5px;

}

.card-1 {
    width: 250px;
    height: 160px;
    top: 300px;
    left: 140px;
}

.card-2 {
    width: 250px;
    height: 160px;
    top: 255px;
    left: 445px;
}

.card-3 {
    width: 250px;
    height: 160px;
    top: 300px;
    left: 750px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}


.text1 {
    margin-top: 10px;
    display: grid;
    align-items: start;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.text11 {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    width: 100%;
}

.white-line {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 650px;
    left: 0;
    width: 100%;
}

.work {
    display: block;
    font-size: 15px;
    weight: 600;
    font-family: 'Urbanist';
    line-height: 1.2;
    margin-bottom: 10px;
    position: absolute;
    top: 650px;
    left: 50px;
    width: calc(100% - 100px);
}

.workL {
    font-family: 'Urbanist';
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.workList {
    font-family: 'Urbanist';
    font-size: 15px;
    padding-left: 20px;
}

.unit {
    weight: 600;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 5px;
    right: 20px;
}


